<html>
    <head>
        <title>Kimberlee's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Kimberlee's Blog</a></h1>
        </div>

        <div>
            <p>published: 27.07.2017, 14:38</p>
            <h2><a href="">My first post</a></h2>
            <p>'''Hello, I'm Kimberlee. I am a young Black woman aspiring to study Computer Engineering in College'''</p>
        </div>

        <div>
            <p>published: 27.07.2017, 14:38</p>
            <h2><a href="">My second post</a></h2>
            <p>I CAME TO WIN! TO PROSPER!</p>
        </div>
    </body>
</html>
